
@{
    ViewBag.Title = "KhachXem";
    Layout = "~/Views/Shared/_Layout_User.cshtml";
}
@section scripts{
    <script>
        const sanPhamData = @Html.Raw(Json.Encode(Model));
        localStorage.setItem("sanPhamData", JSON.stringify(sanPhamData));
    </script>
    <script src="~/Scripts/MyJavascript.js"></script>
}

<div class="slideshow-container">
    <div class="slide active-slide" style="background-image: url('@Url.Content("~/Image/0e31e4432d749181ac7e0fbb29e4a766.png")');"></div>
    <div class="slide" style="background-image: url('@Url.Content("~/Image/aa297f4b0405b5d07615c9d3100b3e41.png")');"></div>
    <div class="slide" style="background-image: url('@Url.Content("~/Image/top-5-laptop-danh-cho-hoc-sinh-cap-3-ban-chay-nhat-4-2022-tai-TGDD-thumb--1--560x292.jpg")');"></div>
</div>
<div class="dots mt-2">
    <span class="dot active" onclick="showSlide(0)"></span>
    <span class="dot " onclick="showSlide(1)"></span>
    <span class="dot " onclick="showSlide(2)"></span>
</div>
<div class="col-12 mt-2 text-center">
    <div id="pagination" class="mt-4 text-center">
        <!-- Nút phân trang sẽ thêm ở đây -->
    </div>
    <div id="data-container" class="row g-4">
        <!-- Sản phẩm sẽ được JS thêm vào đây -->
    </div>
</div>
<hr class="bg-danger">





